html {
    font-family: "Roboto", sans-serif;
}

body{
    padding: 0;
    margin: 0;
}
.header-1{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}

.header-left{
    padding-left: 200px;
}

.header-right{
    padding-right: 150px;
}

ul{
    display:flex;
    gap: 16px;
}

.header-2{
    background-color: #1F2937;
    padding: 100px;
    display: flex;
    gap: 40px;
    align-items: center

}
h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    
}

a, #header-2-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.button-1 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 700;
    border-radius: 12px;
    border-color: #3882F6;
    background-color: #3882F6;
    padding: 5px 30px;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}


.one{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  padding: 50px 100px;
}

.one-imgs{
    display: flex;
    margin: 40px;
    gap: 60px;
    
    
}
.two {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 120px;
    display: flex;
    flex-direction: column;
    

}

#placeholder-img{
    height: 200px;
    width: 400px;
}
#quote{
  font-size: 36px;
  font-style: italic;
  

}

#author {
  align-self: flex-end;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

#footer-text{
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 18px;
    padding: 20px;
}

.container{
    margin: 100px;
    padding: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;

}

.button {
    align-self: center;
}

.three-text{
    margin: 30px;
}

.three {
    color:#F9FAF8;
}

.button-2 { 
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 12px;
    border-color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px 30px;
    
}

.head-2-content{
    max-width: 400px;
    gap: 100px;
    padding-left: 95px;
}

#one-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    
}

.caption {
    display:block;
    font-size: 18px;
    color: #1F2937
}

img {
    width: 200px;
    height: 200px;
}